<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>

    <div class="container">
        <h1>8- Banco de Dados</h1>

        <div class="containerProgresso">
            <div class="progressoBar"></div>
        </div>

        <div class="pergunta">
            <p>No Scrum, quem é responsável por garantir que o time siga os princípios ágeis?</p>
        </div>

        <div class="opcoes">
            <div class="opcao">
                <div class="caixa" class="col-1">A</div>
                <a href="../../HTML/pergunta8/certo8.html"><button class="botao"> DROP</button></a>
            </div>
            <div class="opcao">
                <div class="caixa" class="col-1">B</div>
                <a href="../../HTML/pergunta8/errado8A.html"><button class="botao">DELETE</button></a>
            </div>
            <div class="opcao">
                <div class="caixa" class="col-1">C</div>
                <a href="../../HTML/pergunta8/errado8B.html"><button class="botao"> REMOVE</button></a>
            </div>
            <div class="opcao">
                <div class="caixa" class="col-1">D</div>
                <a href="../../HTML/pergunta8/errado8C.html"><button class="botao">TRUNCATE</button></a>
            </div>
        </div>
    </div>
</body>
</html>
