<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/profissao.css">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>
    <div class="container">
        <h1>Técnico em Mecatrônica</h1>

        <strong><p>Descrição:</p></strong>
        <p>O Técnico em Mecatrônica é responsável por operar, programar e realizar a manutenção de sistemas automatizados que combinam mecânica, 
    eletrônica e informática. Ele atua no desenvolvimento e controle de processos industriais, como robótica, sistemas de automação e equipamentos de produção automatizados. 
    </p>
    <h1></h1>
    <strong><p>Salário:</p></strong>
    <p>faixa salarial gira em torno de R$ 3.000 a R$ 5.500, dependendo da região e do setor de atuação.</p>    
    <br>
        <div class="opcoes"></div>
            <div class="opcao">
                <div>
                    <a href="/templates/pergunta8/pergunta8.html"><button class="botaoResposta" class="col-6">Voltar</button></a>
                </div>
                <div>
                    <a href="templates/pergunta9/pergunta9.html"><button class="botaoResposta" class="col-6">Próximo</button></a>
                </div>
            </div> 
        </div>
    </div>
    
</body>
</html><!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/profissao.css">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>
    <div class="container">
        <h1>Tecnólogo em Mecatrônica Industrial</h1>

        <p>Descrição:</p>
        <p>O Tecnólogo em Mecatrônica Industrial é um especialista em integrar sistemas mecânicos, eletrônicos e de computação para 
            automatizar e otimizar processos industriais. Ele atua no desenvolvimento, instalação, programação e manutenção de equipamentos e sistemas automatizados, como robôs industriais, CLPs (Controladores Lógicos Programáveis) e sistemas de controle de qualidade.</p>
    <h1></h1>
    <p>Salário: A faixa salarial gira em torno de R$ 4.000 a R$ 8.000 para iniciantes, com potencial para superar R$ 12.000 em cargos de maior responsabilidade e experiência.</p>    
    <br>
        <div class="opcoes"></div>
            <div class="opcao">
                <div>
                    <a href="/templates/pergunta8/pergunta8.html"><button class="botaoResposta" class="col-6">Voltar</button></a>
                </div>
                <div>
                    <a href="../../HTML/pergunta9/pergunta9.html"><button class="botaoResposta" class="col-6">Próximo</button></a>
                </div>
            </div> 
        </div>
    </div>
    
</body>
</html>