<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/resposta.css">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>
    <div class="container">
        <h1>Certa Resposta!</h1>
        <p>JVM significa Java Virtual Machine, que é a máquina virtual responsável por executar bytecode Java,
             permitindo que o código seja executado em qualquer plataforma que tenha uma JVM compatível.</p>
        <br>
         <div class="opcoes">
            <div class="opcao">
                <div>
                    <a href="/ATIEX/templates/pergunta8/pergunta8.html"><button class="botaoResposta" class="col-6">Voltar</button></a>
                </div>
                <div>
                    <a href="/ATIEX/templates/pergunta10/pergunta10.html"><button class="botaoResposta" class="col-6">Próximo</button></a>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>