<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/resposta.css">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>
    <div class="container">
        <h1>Resposta Errada!</h1>

        <p>Java Variable Management não existe. A JVM é uma parte essencial da arquitetura Java 
            e tem a ver com a execução de programas, não com variáveis.</p>
        <br>
        <div class="opcoes"></div>
            <div class="opcao">
                <div>
                    <a href="/templates/pergunta8/pergunta8.html"><button class="botaoResposta" class="col-6">Voltar</button></a>
                </div>
                <div>
                    <a href="/templates/pergunta10/pergunta10.html"><button class="botaoResposta" class="col-6">Próximo</button></a>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>