<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/resposta.css">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>
    <div class="container">
        <h1>Resposta Errada!</h1>

        <p>Monitorar sinais de entrada é uma tarefa do CLP ou dos sensores, que processam e interpretam os sinais, 
            enquanto o atuador responde a esses sinais para executar ações.</p>
        <br>
        <div class="opcoes"></div>
            <div class="opcao">
                <div>
                    <a href="/templates/pergunta2/pergunta2.html"><button class="botaoResposta" class="col-6">Voltar</button></a>
                </div>
                <div>
                    <a href="../../HTML/pergunta3/pergunta3.html"><button class="botaoResposta" class="col-6">Próximo</button></a>
                </div>
            </div> 
        </div>
    </div>
    
</body>
</html>