<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/profissao.css">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>
    <div class="container">
        <h1>Técnico em Mecatrônica</h1>

        <strong><p>Descrição:</p></strong>
        <p>O Técnico em Mecatrônica é responsável por operar, programar e realizar a manutenção de sistemas automatizados que combinam mecânica, 
    eletrônica e informática. Ele atua no desenvolvimento e controle de processos industriais, como robótica, sistemas de automação e equipamentos de produção automatizados. 
    </p>
    <h1></h1>
    <strong><p>Salário:</p></strong>
    <p>A faixa salarial gira em torno de R$ 3.000 a R$ 5.500, dependendo da região e do setor de atuação.</p>    
    <br>
        <div class="opcoes"></div>
            <div class="opcao">
                <div>
                    <a href="/templates/pergunta2/pergunta2.html"><button class="botaoResposta" class="col-6">Voltar</button></a>
                </div>
                <div>
                    <a href="/templates/pergunta3/pergunta3.html"><button class="botaoResposta" class="col-6">Próximo</button></a>
                </div>
            </div> 
        </div>
    </div>
    
</body>
</html>