<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>

    <div class="container">
        <h1>7- Banco de Dados</h1>

        <div class="containerProgresso">
            <div class="progressoBar"></div>
        </div>

        <div class="pergunta">
            <p>Qual comando SQL é usado para modificar os dados de uma tabela existente?</p>
        </div>

        <div class="opcoes">
            <div class="opcao">
                <div class="caixa" class="col-1">A</div>
                <a href="../../HTML/pergunta7/errado7A.html"><button class="botao"> DELETE</button></a>
            </div>
            <div class="opcao">
                <div class="caixa" class="col-1">B</div>
                <a href="../../HTML/pergunta7/errado7B.html"><button class="botao">ALTER</button></a>
            </div>
            <div class="opcao">
                <div class="caixa" class="col-1">C</div>
                <a href="../../HTML/pergunta7/errado7C.html"><button class="botao">INSERT</button></a>
            </div>
            <div class="opcao">
                <div class="caixa" class="col-1">D</div>
                <a href="../../HTML/pergunta7/certo7.html"><button class="botao">UPDATE </button></a>
            </div>
        </div>
    </div>
</body>
</html>
