<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalização</title>
    <link rel="stylesheet" href="/assets/CSS/inicioFinal.css">
</head>
<body>

    <div class="container">
        <h1>Obrigado por Participar!</h1>
        <p>Agradecemos sua contribuição. Esperamos que tenha tido uma ótima experiência!</p>

        <a href="/index.html" class="botao">Voltar ao Início</a>
    </div>
</body>
</html>
