<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/profissao.css">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>
    <div class="container">
        <h1>Mecânico de Manutenção</h1>

        <p>Descrição:</p>
        <p>O Mecânico de Manutenção é responsável por realizar a manutenção preventiva e corretiva em máquinas
             e equipamentos industriais, identificando falhas, substituindo peças desgastadas e garantindo o funcionamento contínuo e seguro dos equipamentos. Ele trabalha para minimizar o tempo de inatividade e maximizar a eficiência operacional.</p>
            <h1></h1>
    <p>Salário: A faixa salarial gira em torno de  R$ 2.500 a R$ 5.000, variando de acordo com o setor, o porte da empresa e a experiência do profissional.</p>    
    <br>
        <div class="opcoes"></div>
            <div class="opcao">
                <div>
                    <a href="/templates/pergunta12/pergunta12.html"><button class="botaoResposta" class="col-6">Voltar</button></a>
                </div>
                <div>
                    <a href="../../HTML/pergunta13/pergunta13.html"><button class="botaoResposta" class="col-6">Próximo</button></a>
                </div>
            </div> 
        </div>
    </div>
    
</body>
</html>