<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/profissao.css">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>
    <div class="container">
        <h1>Tecnólogo em Análise e Desenvolvimento de Sistemas</h1>

        <p>Descrição:</p>
        <p>O Tecnólogo em Análise e Desenvolvimento de Sistemas é responsável por projetar, desenvolver, implementar e manter
             sistemas de software que atendam às necessidades de organizações e usuários. Ele trabalha com análise de requisitos, programação, testes e implantação de softwares, além de lidar com bancos de dados, infraestrutura e segurança da informação. </p>
    <h1></h1>
    <p>Salário: A faixa salarial gira em torno de R$ 3.500 a R$ 7.500 para iniciantes, podendo ultrapassar R$ 12.000 com experiência e especializações.</p>    
    <br>
        <div class="opcoes"></div>
            <div class="opcao">
                <div>
                    <a href="/ATIEX/templates/pergunta6/pergunta6.html"><button class="botaoResposta" class="col-6">Voltar</button></a>
                </div>
                <div>
                    <a href="../../HTML/pergunta7/pergunta7.html"><button class="botaoResposta" class="col-6">Próximo</button></a>
                </div>
            </div> 
        </div>
    </div>
    
</body>
</html>