<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/profissao.css">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>
    <div class="container">
        <h1>Mecânico de Usinagem</h1>

        <p>Descrição:</p>
        <p>O Mecânico de Usinagem é o profissional que opera e ajusta máquinas de usinagem, como tornos, fresadoras e retíficas, para fabricar peças de metal e outros materiais com alta precisão. Ele é responsável pela interpretação de desenhos
             técnicos, escolha de ferramentas, controle de qualidade das peças e ajustes de medidas, garantindo que as peças produzidas atendam às especificações requeridas.</p>
    <h1></h1>
    <p>Salário: A faixa salarial gira em torno de R$ 2.500 a R$ 5.500, variando conforme a complexidade das peças, o porte da empresa e a especialização do profissional.</p>    
    <br>
        <div class="opcoes"></div>
            <div class="opcao">
                <div>
                    <a href="ATIEX/templates/pergunta14/pergunta14.html"><button class="botaoResposta" class="col-6">Voltar</button></a>
                </div>
                <div>
                    <a href="../../HTML/final/final.html"><button class="botaoResposta" class="col-6">Próximo</button></a>
                </div>
            </div> 
        </div>
    </div>
    
</body>
</html>