<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/profissao.css">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>
    <div class="container">
        <h1>Análise e Desenvolvimento de Sistemas</h1>

        <p>Descrição:</p>
        <p>O Técnico em Administração realiza atividades de apoio à gestão e administração de empresas, incluindo planejamento, controle de estoques, finanças,
             recursos humanos, logística e atendimento ao cliente. Ele trabalha para garantir que processos administrativos e operacionais sejam realizados com eficiência, contribuindo para o bom funcionamento da empresa. 
    </p>
    <h1></h1>
    <p>Salário: A faixa salarial gira em torno de R$ 1.800 a R$ 3.500, variando conforme o porte da empresa e a região</p>    
    <br>
        <div class="opcoes"></div>
            <div class="opcao">
                <div>
                    <a href="/ATIEX/templates/perguntapergunta4/pergunta4.html"><button class="botaoResposta" class="col-6">Voltar</button></a>
                </div>
                <div>
                    <a href="../../HTML/pergunta5/pergunta5.html"><button class="botaoResposta" class="col-6">Próximo</button></a>
                </div>
            </div> 
        </div>
    </div>
    
</body>
</html>