<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/resposta.css">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>
    <div class="container">
        <h1>Certa Resposta!</h1>
        <p>O atributo href é usado em uma tag <a> para definir o endereço de destino de um link em HTML.
             Ele especifica para onde o link deve levar o usuário.</p>
        <br>
         <div class="opcoes">
            <div class="opcao">
                <div>
                    <a href="/templates/pergunta14/pergunta14.html"><button class="botaoResposta" class="col-6">Voltar</button></a>
                </div>
                <div>
                    <a href="/templates/final/final.html"><button class="botaoResposta" class="col-6">Próximo</button></a>
                </div>  
            </div> 
        </div>
    </div>
</body>
</html>