<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/resposta.css">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>
    <div class="container">
        <h1>Resposta Errada!</h1>

        <p>O atributo target é usado para especificar onde abrir o link
             (por exemplo, em uma nova aba), mas não define o destino do link.</p>
        <br>
        <div class="opcoes"></div>
            <div class="opcao">
                <div>
                    <a href="/templates/pergunta13/pergunta13.html"><button class="botaoResposta" class="col-6">Voltar</button></a>
                </div>
                <div>
                    <a href="/templates/pergunta14/profissao7.html"><button class="botaoResposta" class="col-6">Próximo</button></a>
                </div>  
            </div> 
        </div>
    </div>
</body>
</html>