* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #8B0000, #333333); /* Degradê de vermelho escuro para cinza escuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

/* Container principal */
.container {
    background-color: #e4e4e4;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #000;
}

.pergunta p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

/* Estilo das opções */
.opcoes {
    display: flex;
    flex-direction: column; 
}

.opcao {
    display: flex; 
    align-items: center; 
    margin-bottom: 15px; 
}

/* Estilo da caixa */
.caixa {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 40px; 
    height: 40px; 
    background-color: #8B0000; 
    color: white; 
    font-size: 1.5rem; 
    border-radius: 5px; 
    margin-right: 10px; 
}

/* Estilo dos botões de opções */
.botao {
    display: block;
    width: 400px;
    margin-left: 20px;
    padding: 15px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #8B0000;
    color: white;
}

.botao:hover {
    background-color: #b00000;
}

.botao:focus {
    outline: none;
    border: 2px solid #b00000;
}

/* Barra de progresso */
.containerProgresso {
    height: 8px;
    background-color: #e0e0e0;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Responsividade para telas menores */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    .opcoes {
        flex-direction: column;
        align-items: center;
    }

    .botaoResposta {
        font-size: 0.9rem;
        padding: 12px 15px;
        max-width: 100%;
        width: 80%; /* Ajusta a largura para telas pequenas */
    }
}