<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/resposta.css">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>
    <div class="container">
        <h1>Certa Resposta!</h1>
        <p>O CLP é essencial em processos de automação, programado para controlar máquinas e processos industriais.
             Ele recebe dados de entrada e executa ações baseadas nesses dados, como ligar motores ou ajustar válvulas.</p>
        <br>
         <div class="opcoes">
            <div class="opcao">
                <div>
                    <a href="/ATIEX/templates/perguntapergunta1/pergunta1.html"><button class="botaoResposta" class="col-6">Voltar</button></a>
                </div>
                <div>
                    <a href="/ATIEX/templates/perguntapergunta2/pergunta2.html"><button class="botaoResposta" class="col-6">Próximo</button></a>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>