<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>

    <div class="container">
        <h1>1- Automação Industrial</h1>

        <div class="containerProgresso">
            <div class="progressoBar"></div>
        </div>

        <div class="pergunta">
            <p>Qual dispositivo é frequentemente usado para controlar processos automatizados?</p>
        </div>

        <div class="opcoes">
            <div class="opcao">
                <div class="caixa" class="col-1">A</div>
                <a href="ATIEX/templates/pergunta1/errado1A.html"><button class="botao">Monitor</button></a>
            </div>
            <div class="opcao">
                <div class="caixa" class="col-1">B</div>
                <a href="ATIEX/templates/pergunta1/certo1.html"><button class="botao">CLP</button></a>
            </div>
            <div class="opcao">
                <div class="caixa" class="col-1">C</div>
                <a href="ATIEX/templates/pergunta1/errado1B.html"><button class="botao">Impressora</button></a>
            </div>
            <div class="opcao">
                <div class="caixa" class="col-1">D</div>
                <a href="ATIEX/templates/pergunta1/errado1C.html"><button class="botao">Scanner</button></a>
            </div>
        </div>
    </div>
</body>
</html>
