<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>

    <div class="container">
        <h1>11- Front-end JavaScript</h1>

        <div class="containerProgresso">
            <div class="progressoBar"></div>
        </div>

        <div class="pergunta">
            <p>Como você declara uma variável em JavaScript?</p>
        </div>

        <div class="opcoes">
            <div class="opcao">
                <div class="caixa" class="col-1">A</div>
                <a href="../../HTML/pergunta11/certo11.html"><button class="botao">let</button></a>
            </div>
            <div class="opcao">
                <div class="caixa" class="col-1">B</div>
                <a href="../../HTML/pergunta11/errado11B.html"><button class="botao">int</button></a>
            </div>
            <div class="opcao">
                <div class="caixa" class="col-1">C</div>
                <a href="../../HTML/pergunta11/errado11B.html"><button class="botao">float</button></a>
            </div>
            <div class="opcao">
                <div class="caixa" class="col-1">D</div>
                <a href="../../HTML/pergunta11/errado11C.html"><button class="botao">string</button></a>
            </div>
        </div>
    </div>
</body>
</html>
