<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/resposta.css">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>
    <div class="container">
        <h1>Resposta Errada!</h1>

        <p>Embora em metodologias tradicionais o gerente de projeto tenha esse papel, no Scrum essa função é substituída pelo Scrum Master,
             que foca na aplicação das práticas ágeis.</p>
        <br>
        <div class="opcoes"></div>
            <div class="opcao">
                <div>
                    <a href="/ATIEX/templates/pergunta2/pergunta2.html"><button class="botaoResposta" class="col-6">Voltar</button></a>
                </div>
                <div>
                    <a href="/ATIEX/templates/pergunta4/pergunta4.html"><button class="botaoResposta" class="col-6">Próximo</button></a>
                </div>
            </div> 
        </div>
    </div>
    
</body>
</html>