<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>

    <div class="container">
        <h1>3- Engenharia de Software</h1>

        <div class="containerProgresso">
            <div class="progressoBar"></div>
        </div>

        <div class="pergunta">
            <p>No Scrum, quem é responsável por garantir que o time siga os princípios ágeis?</p>
        </div>

        <div class="opcoes">
            <div class="opcao">
                <div class="caixa" class="col-1">A</div>
                <a href="/ATIEX/templates/pergunta3/errado3A.html"><button class="botao">Gerente de projeto</button></a>
            </div>
            <div class="opcao">
                <div class="caixa" class="col-1">B</div>
                <a href="/ATIEX/templates/pergunta3/errado3B.html"><button class="botao">Desenvolvedor</button></a>
            </div>
            <div class="opcao">
                <div class="caixa" class="col-1">C</div>
                <a href="/ATIEX/templates/pergunta3/certo3.html"><button class="botao">Scrum Master</button></a>
            </div>
            <div class="opcao">
                <div class="caixa" class="col-1">D</div>
                <a href="/ATIEX/templates/pergunta3/errado3C.html"><button class="botao">Stakeholder</button></a>
            </div>
        </div>
    </div>
</body>
</html>
