<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/resposta.css">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>
    <div class="container">
        <h1>Certa Resposta!</h1>
        <p>A maior força do desenvolvimento ágil é a sua capacidade de adaptação a mudanças nos requisitos e nas necessidades do cliente ao longo do ciclo de desenvolvimento.</p>
        <br>
         <div class="opcoes">
            <div class="opcao">
                <div>
                    <a href="/templates/pergunta4/pergunta4.html"><button class="botaoResposta" class="col-6">Voltar</button></a>
                </div>
                <div>
                    <a href="/templates/pergunta5/pergunta5.html"><button class="botaoResposta" class="col-6">Próximo</button></a>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>