<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/resposta.css">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>
    <div class="container">
        <h1>Resposta Errada!</h1>

        <p>No desenvolvimento ágil, o foco é em iterações rápidas e feedback constante, então o detalhamento dos requisitos é feito de forma contínua, e não de uma vez só no início do projeto.</p>
        <br>
        <div class="opcoes"></div>
            <div class="opcao">
                <div>
                    <a href="/ATIEX/templates/pergunta3/pergunta3.html"><button class="botaoResposta" class="col-6">Voltar</button></a>
                </div>
                <div>
                    <a href="/ATIEX/templates/pergunta5/pergunta5.html"><button class="botaoResposta" class="col-6">Próximo</button></a>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>