<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/resposta.css">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>
    <div class="container">
        <h1>Resposta Errada!</h1>

        <p>No desenvolvimento ágil, o foco está mais em software funcionando e comunicação direta,
             e menos em extensa documentação, que pode ser pesada e ineficiente.</p>
        <br>
        <div class="opcoes"></div>
            <div class="opcao">
                    <div>
                        <a href="ATIEX/templates/pergunta3/pergunta3.html"><button class="botaoResposta" class="col-6">Voltar</button></a>
                    </div>
                    <div>
                        <a href="ATIEX/templates/pergunta5/pergunta5.html"><button class="botaoResposta" class="col-6">Próximo</button></a>
                    </div>
            </div>
        </div>
    </body>
    </html>