<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>

    <div class="container">
        <h1>4- Engenharia de Software</h1>

        <div class="containerProgresso">
            <div class="progressoBar"></div>
        </div>

        <div class="pergunta">
            <p>Qual é a principal vantagem de usar um modelo ágil de desenvolvimento de software?</p>
        </div>

        <div class="opcoes">
            <div class="opcao">
                <div class="caixa" class="col-1">A</div>
                <a href="../../HTML/pergunta4/errado4A.html"><button class="botao">Detalhamento extensivo de requisitos</button></a>
            </div>
            <div class="opcao">
                <div class="caixa" class="col-1">B</div>
                <a href="../../HTML/pergunta4/certo4.html"><button class="botao">Flexibilidade e adaptabilidade às mudanças </button></a>
            </div>
            <div class="opcao">
                <div class="caixa" class="col-1">C</div>
                <a href="../../HTML/pergunta4/errado4B.html"><button class="botao">Controle rígido de cada fase do desenvolvimento</button></a>
            </div>
            <div class="opcao">
                <div class="caixa" class="col-1">D</div>
                <a href="../../HTML/pergunta4/errado4C.html"><button class="botao">Forte dependência de documentação formal</button></a>
            </div>
        </div>
    </div>
</body>
</html>
