<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/resposta.css">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>
    <div class="container">
        <h1>Certa Resposta!</h1>
        <p>Se nenhum construtor for definido,
             o compilador cria um construtor padrão sem parâmetros, permitindo a instanciação da classe.</p>
        <br>
         <div class="opcoes">
            <div class="opcao">
                <div>
                    <a href="../../HTML/pergunta10/pergunta10.html"><button class="botaoResposta" class="col-6">Voltar</button></a>
                </div>
                <div>
                    <a href="../../HTML/pergunta11/pergunta11.html"><button class="botaoResposta" class="col-6">Próximo</button></a>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>