<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Programandos</title>
</head>
<body>

    <div class="container">
        <h1>6- Inteligência Artificial</h1>

        <div class="containerProgresso">
            <div class="progressoBar"></div>
        </div>

        <div class="pergunta">
            <p>Qual das opções a seguir é um exemplo de aprendizado por reforço?</p>
        </div>

        <div class="opcoes">
            <div class="opcao">
                <div class="caixa" class="col-1">A</div>
                <a href="../../HTML/pergunta6/certo6.html"><button class="botao">Treinamento de um robô para navegar em um labirinto </button></a>
            </div>
            <div class="opcao">
                <div class="caixa" class="col-1">B</div>
                <a href="../../HTML/pergunta6/errado6A.html"><button class="botao">Agrupamento de clientes com base em seus hábitos de compra</button></a>
            </div>
            <div class="opcao">
                <div class="caixa" class="col-1">C</div>
                <a href="../../HTML/pergunta6/errado6B.html"><button class="botao">Análise de regressão para previsão de vendas</button></a>
            </div>
            <div class="opcao">
                <div class="caixa" class="col-1">D</div>
                <a href="../../HTML/pergunta6/errado6C.html"><button class="botao">Classificação de imagens</button></a>
            </div>
        </div>
    </div>
</body>
</html>
